.content{
    background-color: rgb(255, 255, 255);
    margin: 0 1vw;
    border-radius: 4px;
  }
  
  .contenthead{
    display: flex;
    justify-content: space-between;
    
  }
  
  .offerrow {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2vh 1vw;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 4px;
    overflow: auto;
  }
  
  .content .contenthead {
    font-size: 32px;
    font-family: sans-serif;
    margin: 1vh 2vw;
    font-weight:normal;
    padding-top: 18px;
  }
  
  .viewallbtn {
    margin: 15px 19px;
    padding-top: 10px;
  }
  
  .viewbtn {
    color: white;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    background-color: #2874f0;
    border: none;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 8px 18px;
  }
  
 .offerimg1, .offerimg2, .offerimg3, .offerimg4, .offerimg5, .offerimg6, .offerimg7, .offerimg8 {
    margin: 0 0.5vw;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3%;
    box-shadow: 5px 5px 3px #aaaaaa;
    padding: 11px;
  }
  
  .offerimg-subtxt1, .offerimg-subtxt2, .offerimg-subtxt3 {
    font-size: 18px;
    font-weight:normal;
    margin-top: 10px;
  }
  
  .offerimg-subtxt2 {
    color: #229528;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .offerimg-subtxt3 {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .offerrow img:hover{
    transform: scale(1.08);
  }
  
  .offerrow img{
    height:200px;
    width:200px;
  }

  .offerrow a{
    text-decoration: none;
    color:black;
  }

  @media screen and (max-width: 768px) {
    .offerrow img{
      height: 100px;
      width: 100px;
    }
  }





